$blue: #1f0076;
$secondary: #fdf1ff;
$purple: #612ff1;
$grey: #efecf9;
$title: #4e4a5a;
$text: #645f71;

$theme-colors: (
  "primary": $purple,
  "secondary": $secondary,
  "dark": $blue,
  "info": $text,
  "title": $title,
);

@import "../../node_modules/bootstrap/scss/bootstrap";

* {
  font-family: "poppins";
}

h1 {
  font-size: 3rem;
  line-height: 4.5rem;
}
p {
  line-height: 1.5rem;
}

@media (max-width: 825px) {
  h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: inherit;
  }
}

li {
  list-style: none;
}

button.btn {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

@media (max-width: 425px) {
  .container {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

nav {
  background: $secondary;

  .navbar-collapse {
    justify-content: center;

    .navbar-nav {
      justify-self: center !important;
    }
  }

  a {
    font-weight: 500;
  }

  a.navbar-brand {
    flex-grow: 5 !important;

    img {
      width: 50px;
    }
  }
}

.hero.home {
  min-height: 100vh;
}

.Stats {
  .stat {
    background-color: $grey;
    padding: 1rem 0;
    border-radius: 20px;
    height: 100px;
    max-width: 332px;
    // margin: auto;
  }
}

.Featured {
  h3 {
    font-size: 1.4rem;
    font-weight: 700;
  }
}

.Testimonials {
  .cover {
    height: auto;

    .box {
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
      border-radius: 10px;
      padding: 20px;
      height: 100%;

      .name {
        h2 {
          font-size: 20px;
        }
        p {
          font-size: 14px;
        }
      }
    }
  }
}
// .carousel-inner {
//   overflow: auto !important;
// }
// .carousel-item {
//   background-color: red !important;
//   float: none !important;
//   position: relative !important;
// }

.Subscribe {
  background: linear-gradient(254.81deg, #d5569a 8.13%, #29009f 92.46%);
  backdrop-filter: blur(4px);
  border-radius: 50px;

  p {
    font-size: 14px;
  }

  input,
  button {
    border-radius: 10px !important;
  }
}

footer {
  .copyright {
    font-size: 14px;
  }
}
